# CoCon Vote Monitor
# .gitignore
# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (C) 3P Technologies Srl
# Author: Marco Miano

# Ignore virtual environment
env/

# Ignore VS code workspace settings
*.code-workspace

.vscode/

# Ignore temporary python files
__pycache__/

# Ignore data folder. It is used only for testing
data/