# CoCon Vote Monitor
# .gitmodules
# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (C) 3P Technologies Srl
# Author: Marco Miano

[submodule "external/cocon_client"]
	path = external/cocon_client
	url = https://github.com/MarcoMiano/cocon_client.git